

/* CSS for the table */
.table {
    width: 100%;
    border-collapse: collapse;
  }


  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  caption{
    font-size: 32px;
    background-color: antiquewhite;
    padding: 8px;
  }

  .heading th{
    width: 100%;
    text-align: center;
    font-size: 32px;
    background-color: aqua;

  }

  /* CSS for responsiveness */
  @media (min-width: 300px) and (max-width: 768px) {
    .table {
      display: block;
      overflow-x: auto;
    }
  }
